[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bandit = "*"
pytest = "*"
yapf = "*"
pycodestyle = "*"
pylint = "*"
pydotplus = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"
